<div class="section__header" [style.background]="color">
  <button class="btn section__property" type="button" aria-label="Перетаскивание секций">
    <fa-icon class="icon icon__property" [icon]="icons.points"></fa-icon>
  </button>
  <h2 class="section__title">{{currSection.sectionTitle}}</h2>
  <a class="btn section__setting" type="button" aria-label="Настройки" name="section-settings-btn">
    <fa-icon class="icon icon__setting" [icon]="icons.cogs"></fa-icon>
    <ul class="dropdown" [attr.name]="'dropdown-menu'">
      <li class="dropdown__item" (click)="renameSection()" [attr.name]="'rename-item'">{{'rename'| translate}}</li>
      <li class="dropdown__item" (click)="deleteSection()" [attr.name]="'remove-item'">{{'delete'| translate}}</li>
      <li class="dropdown__item" [(colorPicker)]="color" [cpPosition]="'bottom'" [cpOKButton]="true" [attr.name]="'color-item'">
        {{'change-color' | translate}}
      </li>
      <li class="dropdown__item sort distribution" [attr.name]="'sort-item'">
        {{'sort.title' | translate}}
        <fieldset class="distribution__group">
          <legend class="distribution__title">{{'sort.subtitle' | translate}}</legend>
          <div class="distribution__fields">
            <input class="sort__radio" id={{idInputs.sortOld}} type="radio" name="date-sort" value="old" checked>
            <label class="sort__description" for={{idInputs.sortOld}} [attr.name]="'date-sort-type'">{{'sort.old' | translate}}</label>

            <input class="sort__radio" id={{idInputs.sortNew}} type="radio" name="date-sort" value="new">
            <label class="sort__description" for={{idInputs.sortNew}} [attr.name]="'date-sort-type'">{{'sort.new' | translate}}</label>
          </div>
        </fieldset>
      </li>
      <li class="dropdown__item filter distribution" [attr.name]="'filter-item'">
        {{'filter.title' | translate}}
        <fieldset class="distribution__group">
          <legend class="distribution__title">{{'filter.subtitle' | translate}}</legend>
          <div class="distribution__fields">
            <input class="filter__checkbox" id={{idInputs.filterEven}} type="checkbox" name="date-even">
            <label class="filter__description" for={{idInputs.filterEven}} [attr.name]="'date-filter-type'">{{'filter.even' | translate}}</label>

            <input class="filter__checkbox" id={{idInputs.filterUneven}} type="checkbox" name="date-uneven">
            <label class="filter__description" for={{idInputs.filterUneven}} [attr.name]="'date-filter-type'">{{'filter.uneven' | translate}}</label>
          </div>
        </fieldset>
      </li>
    </ul>
  </a>
</div>
<div class="notes">
  <div 
    class="notes__list" 
    [cdkDropListData]="notes" 
    cdkDropList [cdkDropListConnectedTo]="['cdk-drop-list-1', 'cdk-drop-list-2']" 
    (cdkDropListDropped)="dropNotes($event)"
    >
    <app-note *ngFor="let n of notes" [sectionId]="sectionId" [noteId]="n.noteId" (outRemoveNote)="removeNote($event)" cdkDrag>
    </app-note>
  </div>
  <button class="add-note" type="button" aria-label="Добавить новую заметку" (click)="addNote()" name="add-note-btn">
    <fa-icon class="icon icon__plus" [icon]="icons.plus"></fa-icon>
  </button>
</div>

<ng-template #modalForNote></ng-template>
<ng-template #modalForSection></ng-template>


<!-- ['cdk-drop-list-1', 'cdk-drop-list-2'] -->