@import '../../../colors.scss';
:host {
    display: flex;
    flex-direction: column;
    height: 122px;
    margin-bottom: 10px;
    padding: 15px 9px 7px 9px;
    border: 1px solid $black;
    font-size: 12px;
    color: $main-text;
    background-color: $background-note;
}

.note__title {
    margin: 0 0 15px 6px;
    font-size: 18px;
    color: $black;
}

.note__content {
    margin: 0;
    height: 100%;
    text-align: left;
}

.notes__bottom {
    display: flex;
    justify-content: space-between;
}

.note__date {
    margin: 0;
}

.icon__edit {
    stroke: $edit-icon;
    color: $edit-icon;
    .note__edit:hover & {
        stroke: $edit-icon-hover;
        color: $edit-icon-hover;
    }
}

.icon__trash {
    stroke: $trash-icon;
    color: $trash-icon;
    .note__delete:hover & {
        stroke: $trash-icon-hover;
        color: $trash-icon-hover;
    }
}